.span(id="listWrapper")
  each idea, i in ideas
    .well
      div(class="arrow")
        a(id=idea._id, class="adoptLink", onclick="otherClick(this.id)")
          img(src='/images/cat.jpg', width='115', height='115')
      div(class="listText")
       table(border='0')
        tr
         td
          .span9
           p(class="titles") #{idea.title}
           p(class="text") "#{idea.description}"
           a(href="/find/"+idea.name, class="names") -#{idea.name} 
           p(class="names") adopters: #{idea.adopters}
         td(style='text-align: center')
          .span1
           .displayed      
            a(id=idea._id, class="upvoteLink", onclick="testClick(this.id)")
              img(src='upvote.png', width='100', height='100')
            p(class="names", margin-left="auto")
               h4   (#{idea.upvote})  