extends layout

block content
               
   table.table.table-condensed 
      tr
        td
          .control-group
           .controls
             button.btn-link.btn(type='submit') 
            div(id="carousel")
              each banner, i in banners
                img(src=banner, alt='pic')
            div(id='nextPrev')
              a(href="#", id="ui-carousel-prev") 
               img(src='/images/left.png', width='10', height='10') 
              a(href="#", id="ui-carousel-next") 
               img(src='/images/right.png', width='10', height='10') 
      tr
        td
         .container-fluid
             .row-fluid
                 .span8
                    h3 Top Projects:
                    each project, i in projects
                      .well(class="projectWellHome")
                        div(class="listText")
                          img(class="coverPic", src='/images/cat.jpg')
                          br
                          div(class="titleDiv")
                            a(class="titlesHome", href="/projects/"+project._id) #{project.title}
                            br
                            a(class="peopleHome", href="/find/"+#{project.leader}) #{project.leader}

                 .span4
                     h3 New Ideas:
                     table.table.table-condensed
                        each idea, i in ideas
                          tr
                            td 
                              a(href="/find/"+idea.name, class="names") 
                               h5 #{idea.name} 
                            td 
                              h5  #{idea.description}

