extends layout

block content
   
   table.table.table-condensed 
     tr
      td(style='text-align: right')
          img(src=project.coverPhoto)
      td(style='text-align: left')
       .span8
          h1 Project: #{project.title}
          br
          h3 Description: 
          h4 #{project.description}
     tr
       td 
        .span1
       td(style='text-align: left')
        .span6
          h4 Relevant Files:
          table.table.table-hover
          each file in project.files
            tr
                - var i = file.lastIndexOf("/");
                - var title = file.substr(i+1, file.length)
                td #{title}
                td
                  a(href=file, target="_blank") SEE IT!
       td
        .span4
