extends layout

block content
  br
  .span(id="listWrapper")
    div(id='dataHolder')
      div(id='personData')
        div(id='picHolder')
          img(id="avatar", src=person.thumbnail) 
        div(id='textInfo')
          h2(style= 'color:rgb(0,51,128)') #{person.name} 
          h4 #{person.email}
          h4 #{person.year}
    br
    div(id='everythingElse')
      div(id='projectHolder')
        each project, i in projects
          .well(class="projectWell")
            div(class="listText")
              img(class="coverPic", src=project.coverPhoto)
              br
              div(class="titleDiv")
                a(class="titles", href="/projects/"+project._id) #{project.title}
              div(class="textDiv")
                p(class="text") 
                h5 "#{project.abbrevDescription}..."
              p(class="names") 
                h5 -#{project.leader} (#{project.upvote})  
                 a(id=project._id, class="upvoteLink", onclick="upProject(this.id)")
                   img(src='/images/upvote.png', width='30', height='30') 
                each peep, i in project.collaborators
                  p(class="names") 
                  h6 -#{peep}
      div(id='ideaHolder')
       h3(style= 'color:rgb(0,51,128)') Adopted Ideas:
       table.table.table-condensed 
        each idea, i in ideas
         tr
          div(class="ideaText")
           td 
              p(class="text") 
              h4 #{idea.title}
              