extends layout

block content
  .span(id="listWrapper")
    each project, i in projects
      .well(class="projectWell")
        div(class="listText")
          img(class="coverPic", src=project.coverPhoto)
          br
          div(class="titleDiv")
            a(class="titles", href="/projects/"+project._id) #{project.title}
          div(class="textDiv")
            p(class="text") "#{project.abbrevDescription}..."
          p(class="names") -#{project.leader} (#{project.upvote})  
            a(id=project._id, class="upvoteLink", onclick="upProject(this.id)")
              img(src='/images/arrow.jpg', width='12', height='12') 
            each person, i in project.collaborators
              p(class="names") -#{person}



