extends layout

block content
  h1 Build
   sup x
  .span(id="listWrapper")
    each project, i in projects
      .well(class="projectWell")
        div(class="listText")
          img(class="coverPic", src='/images/arrow.jpg')
          br
          div(class="titleDiv")
            a(class="titles", href=project._id) #{project.title}
          div(class="textDiv")
            p(class="text") #{project.abbrevDescription}
          p(class="names") -#{project.leader}
            each person, i in project.collaborators
              p(class="names") -#{person}



